@font-face {
    font-family: "Montserrat";
    src: url("src/fonts/Montserrat-Regular.ttf") format("truetype"), url("src/fonts/Montserrat-Semibold.ttf") format("truetype"), url("src/fonts/Montserrat-Bold.ttf") format("truetype"), url("src/fonts/Montserrat-Black.ttf") format("truetype"), url("src/fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("src/fonts/Montserrat-Light.ttf") format("truetype"), url("src/fonts/Montserrat-Thin.ttf") format("truetype"), url("src/fonts/Montserrat-Medium.ttf") format("truetype"), url("src/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}
body{
margin: 0;
padding: 0;
width: 100%;
overflow-x: hidden; 
box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    padding: 0;
    background: #FAFAFA;
    position: sticky;
    top: 0;
    z-index: 10;
}
    .hero-content {
     width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.hero-nav ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
    


.nav-produtos {
    width: 189px;
    display: flex ;
    flex-direction: row;
    }
    .nav-produtos a {
        color: var(--Color-Scheme-1-Text, #000);
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
    }
    
.nav-galeria {
    display: flex;
    flex-direction: row;
    width: 189px;
    height: 36px;
    right: -9px;
}
    .nav-galeria a {
        color: var(--Color-Scheme-1-Text, #000);
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        text-decoration: none;
    }       

.nav-promoçoes{
    display: flex;
    flex-direction: row;
    width: 189px;
    height: 36px;
    top: 2px;
}
    .nav-promoçoes a {
        color: var(--Color-Scheme-1-Text, #000);
        font-family: "Montserrat";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
    }

.nav-contato {
    display: flex;
    flex-direction: row;
    
}
    .nav-contato a {
        color: var(--Color-Scheme-1-Text, #000);
        font-family: "Montserrat";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        text-decoration: none;

    }

    table {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      main{
        font-family: "Montserrat";
      }

      .imgVinho img {
        width: 303px;
        height: 303px;
        flex-shrink: 0;
        aspect-ratio: 1/1;

      }
.vinhoCasasilia h3{
    font-family: "Montserrat";
    display:flex;
    text-align: center;
}
      .imgVinho2 img {
        width: 150px;
        height: 303px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
}


.imgVinho3 img {
  width: 150px;
  height: 330px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.imgVinho4 img {
  width: 230px;
  height: 303px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.imgVinho5 img {
    width: 170px;
    height: 330px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .imgVinho6 img {
    width: 225px;
    height: 330px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }