@font-face {
    font-family: "Montserrat";
    src: url("src/fonts/Montserrat-Regular.ttf") format("truetype"), url("src/fonts/Montserrat-Semibold.ttf") format("truetype"), url("src/fonts/Montserrat-Bold.ttf") format("truetype"), url("src/fonts/Montserrat-Black.ttf") format("truetype"), url("src/fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("src/fonts/Montserrat-Light.ttf") format("truetype"), url("src/fonts/Montserrat-Thin.ttf") format("truetype"), url("src/fonts/Montserrat-Medium.ttf") format("truetype"), url("src/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}
body{
margin: 0;
padding: 0;
width: 100%;
overflow-x: hidden; 
box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}
  .hero-content {
   width: 100%;
  max-width: 1440px;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.hero-nav ul{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  .hero-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
}

.hero-logo {
  width: 130px;
  height: auto;
  display: flex;
  align-items: center;
}
.hero-logo img {
  width: 100%;
  height: auto;
}

.nav-produtos {
  width: 189px;
  display: flex ;
  flex-direction: row;
  }
  .nav-produtos a {
      color: var(--Color-Scheme-1-Text, #000);
      text-align: center;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-decoration: none;
  }
  
.nav-galeria {
  display: flex;
  flex-direction: row;
  width: 189px;
  height: 36px;
  right: -9px;
}
  .nav-galeria a {
      color: var(--Color-Scheme-1-Text, #000);
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; 
      text-decoration: none;
  }       

.nav-promoçoes{
  display: flex;
  flex-direction: row;
  width: 189px;
  height: 36px;
  top: 2px;
}
  .nav-promoçoes a {
      color: var(--Color-Scheme-1-Text, #000);
      font-family: "Montserrat";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-decoration: none;
  }

.nav-contato {
  display: flex;
  flex-direction: row;
  
}
  .nav-contato a {
      color: var(--Color-Scheme-1-Text, #000);
      font-family: "Montserrat";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; 
      text-decoration: none;

  }

  .nav-contato:hover {
      transform: scale(1.2);
      transition: all .5s ease;
  }


  .nav-galeria:hover {
      transform: scale(1.2);
      transition: all .5s ease;
  }

  .nav-produtos:hover {
    transform: scale(1.2);
    transition: all .5s ease;
}

.nav-promoçoes:hover {
  transform: scale(1.2);
  transition: all .5s ease;
}

    table {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      main{
        font-family: "Montserrat";
      }

      .imgVinho img {
        width: 303px;
        height: 300px;
        flex-shrink: 0;
        aspect-ratio: 1/1;

      }
.vinhoCasasilia h3{
    font-family: "Montserrat";
    display:flex;
    text-align: center;
}
      .imgVinho2 img {
        width: 150px;
        height: 303px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
}


.imgVinho3 img {
  width: 150px;
  height: 300px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.imgVinho4 img {
  width: 230px;
  height: 330px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.imgVinho5 img {
    width: 170px;
    height: 330px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .imgVinho6 img {
    width: 225px;
    height: 330px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .textoEsquerda {
    text-align: center;

    width: 100%;
    height: 50px;
  }

  .catalogo {
    display: flex;
    flex-direction: column; 
    gap: 40px;
    padding: 40px;
  }
  
  .coluna-esquerda {
    max-width: 100%;
    text-align: center; 
  }
  
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-family: "Montserrat";
    border-radius: 4px;
    text-decoration: none;
  }



  .hero-footer {
    background-color: #ffffff;
    padding: 40px;
    font-family: 'Montserrat';
    color: #000;
  }
  
  .hero-footertop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .footer-mensagem {
    flex: 1 1 300px;
  }
  
  .footer-mensagem .footer-logo {
    width: 130px;
    height: auto;
    display: flex;
    align-items: center
  }
  
  
  .coluna-footer {
    display: flex;
    flex: 2;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .coluna {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .coluna h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .coluna a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
  }
 
  
  .copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: #555;
  }
  
  .legal-terms {
    display: flex;
    gap: 20px;
  }
  
  .legal-terms a {
    color: #555;
    text-decoration: none;
  }
